@-moz-document url-prefix("http://www.decompile.us") {
/* ==UserStyle==
@name        Decompile-Dark-Theme
@version     1.0.0
@namespace   Turko
@author      Turko
==/UserStyle== */
#content {
    color: #ff0000;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}

#panel .upper {
    color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}

#logo {
    color: #0f0f0f;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}
.navigation .active {
    color: white;
    font-size: small;
    font-weight: bold;
}

#shoutbox .text {
    color: #ffffff82;
}

element.style {
    color: white !important;
}
.thead {
    color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}

.trow1 {
    color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
    border: 0.5px solid !important;
}
.trow2 {
    color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
    border: 0.5px solid !important;
}

#panel .lower {    
    color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}
.tborder {
    background: #00000014;
    width: 100%;
    margin: auto auto;
    border: 1px solid #000000;
    padding: 1px;
}

#shoutbox {
    background: #00000014;
    border: 1px solid #000000;
}

#footer .upper {
 color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}
#footer .lower {
 color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}
.tfoot {
color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}


#panel .lower {
    border-top: 1px solid #00000052;
    border-bottom: 1px solid #000000;
}

#logo {
    border-bottom: 1px solid #000000 !important;
}
.post .post_author {
    color: white;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}
.post_controls {
    color: white;    
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}
textarea {
    color: white;    
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}

.post_body {
    color: #c11717;
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
}

.pagination a {
    color: white;    
    background-image: url("https://raw.githubusercontent.com/StylishThemes/GitHub-Dark/master/images/backgrounds/bg-crosshatch.png");
    border: 1px solid #a8a7a7;
}
}
